@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

// col-xl-# ( ≥1200px)
@include media-breakpoint-down(xl) {
  .homeblock-about {
    .homeblock-about__slider_container {
      margin-bottom: 20px;
    }
  }

 }
// col-lg-# ( ≥992px)
@include media-breakpoint-down(lg) {
  .homeblock-about{
    padding-top: 8vh;
    background-position: 4.5vw 24vh;
    .homeblock-about__content {
      margin-bottom: 120px;
    }
    .homeblock-about__slider_title {
      margin-bottom: 30px;
      text-align: center;
      position: relative;
      &:after {
        width: 156px;
        margin-left: -77px;
        height: 1px;
        position: absolute;
        display: block;
        content: '';
        bottom: -15px;
        left: 50%;
        background-color: #000000;
        opacity: 0.1;
      }
      span {
        display: inline;
        padding: 0;
      }
    }
  }
  .homeblock-cards {
    .container {
      max-width: 100%;
    }
  }

}
@media (min-width: 768px) and (max-width: 880px) {
  .homeblock-headline {
    background-position: 250% top;
  }
}
// col-md-# ( ≥768px)
@include media-breakpoint-down(md) {
  .homeblock-headline {
    background-image: url(../img/bg-homeblock-headline-md.png);
    background-position: center 70px;
    background-size: 70%;
    .homeblock-headline__title {
      padding-top: 50vh;
      margin-bottom: 40px;
      text-align: center;
      font-size: 7vw;
      &:before {
        display: none;
      }
      span {
        position: relative;
        top: 0;
        left: 0;
        font-size: 2vh;

        display: block;

        width: auto;
      }
    }
    .homeblock-headline__description {
      font-size: 7vw;
      line-height: 1;
      text-align: center;
      .homeblock-headline__small {
        font-size: 2vh;
      }
    }
    .homeblock-headline__more {
      bottom: 5vh;
    }
  }
  .homeblock-halftext--content {
    margin-left: 0;
    .homeblock-halftext--image {
      background-position: center;
    }
  }
  section {
    padding: 0;
  }
  footer {
    margin: 0 auto;
    height: auto;
    padding-top: 20px;
    .footer-logo {
      height: 90px;
      margin-bottom: 20px;
    }
    .footer--social {
      ul {
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: 640px) {
  .homeblock-headline {
    background-position: center 80px;
    background-size: 80%;
  }

}
// col-sm-# ( ≥576px)
@include media-breakpoint-down(sm) {
  header {
    .header--logo {
      position: absolute;
      top: 0;
      left: 0;
    }
    .header--phone__phone {
      margin-bottom: 10px;
      padding-top: 30px;
      padding-right: 15px;
    }
    .header--phone {
      p {
        padding-right: 20px;
      }
    }
  }
  .header--phone {
    margin-left: 16.66667%;
  }
  .homeblock-about {
    padding-top: 0;
    background-size: 40vw;
    background-position: center 9vw;
    .homeblock-about__title {
      margin-bottom: 43vw;
    }
    .homeblock-about__content p {
      margin-bottom: 2vw;
    }
  }
  .homeblock-halftext {
    .homeblock-halftext--image {
      height: 224px;
      background-position: center bottom;
      background-size: cover;
      background-image: url(../img/bg-homeblock-halftext-sm.png);
    }
  }
  .homeblock-news {
    padding-top: 60px;
    padding-bottom: 6px;
    .homeblock-news--title {
      margin-bottom: 60px;
    }
  }
  footer {
    .footer-logo {
      background-position: center;
    }
    .footer--contacts a{
      text-align: center;
      margin-bottom: 20px;
    }
  }

}
// col-# ( <575.5px)
@include media-breakpoint-down(xs) {
  header  {
    .header--nav {
      padding-top: 20px;
    }
    .header--phone {
      padding-top: 0;
    }
  }
  .header--logo {
    flex: 0 0 33.33333%;

    max-width: 33.33333%;
  }
  .header--nav {
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;

    max-width: 66.66667%;
    margin-left: 33.33333%;
    ul {
      text-align: right;
    }
    li {
      display: block;

      margin-bottom: 10px;

    }
  }
  .header--phone {
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;

    max-width: 66.66667%;
    margin-left: 33.33333%;
  }
  .homeblock-about {
    background-position: center 16vw;
    .homeblock-about__title {
      margin-bottom: 43vw;
    }
  }
  .homeblock-news {
    .homeblock-news--title {
      margin-bottom: 20px;
    }
    .homeblock-news--more {
      margin-bottom: 20px;
      padding-top: 0;
    }
  }
  .looper--item {
    .looper--name {
      margin-bottom: 0;
    }
    p {
      display: none;
    }
  }
}
@media (max-width: 400px) {
  header {
    .header--phone {
      display: none;
    }
  }
  .homeblock-about {
    background-size: 60vw;
    background-position: center 20vw;
    .homeblock-about__title {
      margin-bottom: 70vw;
    }
    .homeblock-about__content  {
      margin-bottom: 15vw;
    }
  }
}
