@import "import/reset";
@import "import/variables";
@import "import/buttons";
@import "import/forms";
@import "import/lists";
@import "import/tables";
@import "import/mixin";
@import "import/wordpress";

@import 'grid/bootstrap-grid';

@import "sprite_svg";
@import "sprite_png";


body {
  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;
  background-image: url(../img/bg-body.png);
  background-repeat: repeat;

  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $small-spacing;

  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;
  // max-width: $width;
}
i {
  display: inline-block;
  &.icon-card {
    filter: grayscale(100%);
  }
  &.icon-card--1 {
    @include sprite($sprite-icon-01);
  }
  &.icon-card--2 {
    @include sprite($sprite-icon-02);
  }
  &.icon-card--3 {
    @include sprite($sprite-icon-03);
  }
  &.icon-card--4 {
    @include sprite($sprite-icon-04);
  }
  &.icon-card--5 {
    @include sprite($sprite-icon-05);
  }
  &.icon-card--6 {
    @include sprite($sprite-icon-06);
  }
  &.icon-card--7 {
    @include sprite($sprite-icon-07);
  }
  &.icon-card--8 {
    @include sprite($sprite-icon-08);
  }
  &.icon-card--9 {
    @include sprite($sprite-icon-09);
  }
  &.ico-soc {
    font-size: 2.7px;

    @extend .svgico;
  }
  &.ico-soc--fb {
    @extend .svgico-soc_fb;
  }
  &.ico-soc--in {
    @extend .svgico-soc_in;
  }
  &.ico-soc--yt {
    @extend .svgico-soc_yt;
  }
  &.ico-soc--share {
    font-size: 2.7px;

    @extend .svgico;
    @extend .svgico-share;
  }
  &.ico-soc--share_fb {
    font-size: 2.7px;

    @extend .svgico;
    @extend .svgico-soc_fb-orange;
  }
  &.ico-phone {
    font-size: 2px;

    @extend .svgico;
    @extend .svgico-phone;
  }
  &.ico-more {
    font-size: 2px;

    @extend .svgico;
    @extend .svgico-more;
  }
  &:hover {
    &.icon-card {
      filter: grayscale(0);
    }
  }
}
header {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;

  .header--logo {
    display: block;

    padding-top: 20px;
    img {
      max-width: 100%;
    }
  }
  .header--nav {
    padding-top: 40px;
  }
  .headnav {
    text-align: right;
  }
  li {
    margin: 0 10px;
    a {
      padding: 0 10px;

      letter-spacing: 0.86px;
      text-transform: uppercase;

      color: $gray-medium;

      font-size: 12px;
      font-weight: 400;

      &:hover{
        color: $orange;
      }
    }
    &.current-menu-item {
      a {
        color: $orange;
      }
      &:before {
        display: inline-block;

        margin-right: 10px;

        content: '';

        @include sprite($sprite-ico-headnav);
      }
    }
  }
  .header--phone {
    padding-top: 40px;

    text-align: right;
  }
  .header--phone__phone {
    display: block;

    letter-spacing: 1px;

    color: $gray-medium;

    font-size: 16px;
    font-weight: 700;
    .ico-phone {
      position: relative;
      top: -5px;

      margin-right: 10px;
    }
    &:hover{
      opacity: 0.8;
    }
  }
  p {
    margin-bottom: 0;

    color: $gray-light;

    font-size: 10px;
  }
  .header--phone__viber {
    color: $violet;

    font-weight: 700;
    &:hover{
      color: $black;
    }
  }
}
nav {
  ul {
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}
.homeblock-headline {
  background-image: url(../img/bg-homeblock-headline.png);
  background-repeat: no-repeat;
  background-position: right center;
  .homeblock-headline--container {
    position: relative;

    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    height: 100vh;
    .row {
      width: 100%;
    }
  }
  .homeblock-headline__title {
    position: relative;

    margin-bottom: 100px;

    letter-spacing: 1.5px;

    color: $gray-medium;

    font-size: 24px;
    font-weight: 700;
    &:before {
      position: absolute;
      top: 12px;
      left: -100px;

      width: 100px;
      height: 2px;

      background-color: $gray-dark;

      @extend .dblock;
    }
    span {
      position: absolute;
      top: 20px;
      left: 160px;

      width: 285px;

      letter-spacing: 1.06px;

      opacity: 0.8;
      color: $gray-medium;

      font-family: $cormo-font-family;
      font-size: 17px;
      line-height: 18px;
    }
  }
  .homeblock-headline__description {
    text-transform: uppercase;

    color: $gray-dark;

    font-family: $cormo-font-family;
    font-size: 70px;
    font-weight: 700;
    line-height: 68px;
    span {
      display: block;
    }
    .homeblock-headline__small {
      letter-spacing: 1px;
      text-transform: initial;

      color: $gray-medium;

      font-size: 16px;
      font-weight: 400;
    }
  }
  .homeblock-headline__more {
    position: absolute;
    bottom: 10vh;
    left: 5vw;

    height: 20px;
    padding: 0;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: $orange;
    border-radius: 0;
    background-color: transparent;

    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    .ico-more  {
      position: relative;
      top: -5px;

      margin-right: 10px;
    }
  }
}
.homeblock-about {
  padding-top: 14vh;

  background-image: url(../img/bg-homeblock-about.png);
  background-repeat: no-repeat;
  background-position: 15vw 24vh;
  .homeblock-about__title {
    margin-bottom: 70px;

    text-align: center;

    color: $gray-dark;

    font-family: $cormo-font-family;
    font-size: 44px;
    font-weight: 700;
    line-height: 68px;
  }
  .homeblock-about__content {
    margin-bottom: 260px;
    p {
      margin-bottom: 50px;

      color: $black;

      font-size: 16px;
      line-height: 26px;
      &:first-child {
        margin-bottom: 25px;

        opacity: 0.8;

        font-family: $cormo-font-family;
        font-size: 24px;
        font-weight: 700;
        line-height: 27px;
      }
    }
    a {
      position: relative;

      letter-spacing: 3px;
      text-transform: uppercase;

      color: $orange;

      font-size: 12px;
      font-weight: 700;
      &:after {
        position: absolute;
        top: 7px;
        left: 150px;

        width: 60px;
        height: 1px;

        background-color: $orange;

        @extend .dblock;
      }
      &:hover{
        opacity: 0.8;
      }
    }
  }
  .homeblock-about__slider_title {
    margin-bottom: 50px;

    color: $gray-dark;

    font-family: $cormo-font-family;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    span {
      display: block;

      padding-left: 120px;
    }
  }

  .homeblock-about__slider_container {
    margin-bottom: 120px;
    padding-bottom: 60px;
    h6 {
      color: $gray-dark;

      font-family: $cormo-font-family;
      font-size: 41px;
      font-weight: 700;
      font-style: italic;
      line-height: 40px;
      span {
        color: $orange;
      }
    }
  }
  /*
  .slick-dots li button:before {
    @include sprite($sprite-slider-dot);
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    @include sprite($sprite-slider-dot-active);
  }
  */
}
.homeblock-cards {
  margin-bottom: 150px;
}
.cards-item {
  position: relative;

  padding-top: 190px;

  text-align: center;
  &:before {
    position: absolute;
    z-index: 1;
    top: -15px;
    right: 0;
    bottom: -55px;
    left: 0;

    display: none;

    content: '';

    background-color: #fff;
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.11);
  }
  .icon-card {
    position: absolute;
    top: -96px;
    left: 50%;

    margin-left: -192px;

    transform: scale(.31);
  }
  h3 {
    max-width: 320px;
    margin: 0 auto 25px;

    text-transform: uppercase;

    color: $gray-dark;

    font-family: $cormo-font-family;
    font-size: 22px;
    font-weight: 700;
    line-height: 37px;
  }
  p {
    overflow: hidden;

    max-width: 320px;
    height: 60px;
    margin: 0 auto 30px;

    color: $black;

    font-size: 13px;
    line-height: 20px;
  }
  a {
    display: block;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: $orange;

    font-size: 12px;
    font-weight: 700;
    &:hover{
      opacity: 0.8;
    }
  }
  &:hover {
    .icon-card {
      z-index: 2;

      filter: grayscale(0);
    }
    h3,p,a {
      position: relative;
      z-index: 2;
    }
    &:before {
      display: block;
    }
  }
}
.homeblock-halftext {
  padding-top: 70px;
  padding-bottom: 70px;

  background-color: #202020;
  background-image: url(../img/bg-homeblock-halftext.png);
  background-repeat: no-repeat;
  background-position: right center;
  .homeblock-halftext__title{
    margin-bottom: 60px;

    color: #ffffff;

    font-family: $cormo-font-family;
    font-size: 44px;
    font-weight: 700;
    line-height: 68px;
    }
    p {
      margin-bottom: 20px;

      opacity: 0.7;
      color: #ffffff;

      font-size: 14px;
      line-height: 26px;
      &:first-child {
        margin-bottom: 30px;

        color: #ffffff;

        font-family: $cormo-font-family;
        font-size: 24px;
        font-weight: 700;
        line-height: 27px;
      }
    }
  a {
    position: relative;

    padding-top: 40px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: $orange;

    font-size: 12px;
    font-weight: 700;
    &:before {
      position: absolute;
      top: 47px;
      left: 240px;

      width: 60px;
      height: 1px;

      background-color: $orange;

      @extend .dblock;
    }
    &:hover{
      opacity: 0.8;
    }
  }
}

.homeblock-news {
  padding-top: 120px;
  padding-bottom: 120px;
  .homeblock-news--title {
    margin-bottom: 60px;

    text-align: center;

    color: $gray-dark;

    font-family: $cormo-font-family;
    font-size: 44px;
    font-weight: 700;
    line-height: 37px;
  }
	.homeblock-news--item {
    position: relative;

    padding-top: 30px;
    padding-bottom: 30px;
    &:before{
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: none;

      content: '';

      background-color: #fff;
      box-shadow: 0 40px 70px rgba(0, 0, 0, 0.11);
    }
	  .homeblock-news--headline {
      margin-bottom: 26px;
      a {
        display: inline-block;

        margin-right: 10px;
        padding: 4px 8px;

        letter-spacing: 2px;
        text-transform: uppercase;

        color: #ffffff;
        border-radius: 12px;
        background-color: $orange;

        font-size: 11px;
        font-weight: 700;
        line-height: 14px;
        &:hover{
          opacity: 0.8;
        }
      }
	  }
	  .hnh-date {
      opacity: 0.7;
      color: $black;

      font-size: 11px;
      line-height: 26px;
      span {
        font-weight: 700;
      }
	  }
	  .homeblock-news--name {
      font-family: $cormo-font-family;
      font-size: 32px;
      font-weight: 700;
      line-height: 32px;
      a {
        color: $gray-dark;
        &:hover{
          opacity: 0.8;
        }
      }
	  }
	  p {
      opacity: 0.7;
      color: $black;

      font-size: 14px;
      line-height: 26px;
	  }
	  .homeblock-news--item_more {
      visibility: hidden;

      letter-spacing: 3px;
      text-transform: uppercase;

      color: $orange;

      font-size: 12px;
      font-weight: 700;
      &:hover{
        opacity: 0.8;
      }
    }
    &:hover {
      &:before{
        display: block;

      }
      .homeblock-news--headline,
      .homeblock-news--name,
      p,
      .homeblock-news--item_more {
        position: relative;
        z-index: 2;

        visibility: visible;
      }
    }
  }
  .homeblock-news--more {
    padding-top: 20px;
    a {
      position: relative;

      letter-spacing: 3px;
      text-transform: uppercase;

      color: $orange;

      font-size: 12px;
      font-weight: 700;
      &:before {
        position: absolute;
        top: 7px;
        left: 130px;

        width: 60px;
        height: 1px;

        background-color: $orange;

        @extend .dblock;
      }

      &:hover{
        opacity: 0.8;
      }
    }
  }
}
.page-inner,
.news-list {
  padding-top: 170px;
  .breadcrumbs {
    padding-right: 0;
    padding-left: 0;

    text-align: left;
  }
  .inner-title {
    margin-bottom: 50px;

    text-transform: uppercase;

    color: $gray-dark;

    font-family: $cormo-font-family;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
  }
  .looper--headline {
    margin-bottom: 26px;
    a {
      display: inline-block;

      margin-right: 10px;
      padding: 4px 8px;

      letter-spacing: 2px;
      text-transform: uppercase;

      color: #ffffff;
      border-radius: 12px;
      background-color: $orange;

      font-size: 11px;
      font-weight: 700;
      line-height: 14px;
      &:hover{
        opacity: 0.8;
      }
    }
  }

  .hnh-date {
    opacity: 0.7;
    color: $black;

    font-size: 11px;
    line-height: 26px;
    span {
      font-weight: 700;
    }
  }
}
.article--share {
  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid $gray-light;
  a {
    display: inline-block;

    text-transform: uppercase;

    font-size: 12px;
    font-weight: 700;
    i {
      position: relative;
      top: -4px;

      margin-right: 10px;
    }
  }
  .article--share__fb {
    margin-right: 20px;

    color: #4a90e2;
  }
  .article--share__share {
    color: $orange;
  }

}
.recent-news {
  margin-bottom: 60px;
  padding-top: 60px;

  text-align: center;

  color: $gray-dark;

  font-family: $cormo-font-family;
  font-size: 44px;
  font-weight: 700;
  line-height: 37px;
}
.news-list--title {
  margin-bottom: 44px;

  text-align: center;
  text-transform: uppercase;

  color: $gray-dark;

  font-family: $cormo-font-family;
  font-size: 60px;
  font-weight: 700;
  line-height: 40px;
  a {
    color: $gray-dark;
  }
}
.breadcrumbs  {
  margin-bottom: 36px;

  text-align: center;
  li {
    display: inline-block;

    margin-right: 6px;

    letter-spacing: 1.06px;

    color: #c0c0c0;

    font-family: $cormo-font-family;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    a {
      color: $gray-medium;
    }
  }
}
.news-list--catlist {
  margin-bottom: 60px;

  text-align: center;
  li {
    display: inline-block;

    margin: 0 10px;
    &.cat-item-1 {
      a {
        background-color: $black;
      }
    }
    &.cat-item-9 {
      a {
        background-color: #f89e2f;
      }
    }
    &.cat-item-10 {
      a {
        background-color: $violet;
      }
    }
  }
  a {
    display: inline-block;

    margin-right: 10px;
    padding: 4px 8px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #fff;
    border-radius: 12px;
    background-color: #f89e2f;

    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
  }
}
.looper--item {
  position: relative;

  padding-top: 30px;
  padding-bottom: 30px;
  &:before{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    content: '';

    background-color: #fff;
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.11);
  }
  .looper--headline {
    margin-bottom: 26px;
    a {
      display: inline-block;

      margin-right: 10px;
      padding: 4px 8px;

      letter-spacing: 2px;
      text-transform: uppercase;

      color: #ffffff;
      border-radius: 12px;
      background-color: $orange;

      font-size: 11px;
      font-weight: 700;
      line-height: 14px;
      &:hover{
        opacity: 0.8;
      }
    }
  }

  .hnh-date {
    opacity: 0.7;
    color: $black;

    font-size: 11px;
    line-height: 26px;
    span {
      font-weight: 700;
    }
  }
  .looper--name {
    font-family: $cormo-font-family;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    a {
      color: $gray-dark;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  p {
    opacity: 0.7;
    color: $black;

    font-size: 14px;
    line-height: 26px;
  }
  .looper--item_more {
    visibility: hidden;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: $orange;

    font-size: 12px;
    font-weight: 700;
    &:hover{
      opacity: 0.8;
    }
  }
  &:hover {
    &:before{
      display: block;

    }
    .looper--headline,
    .looper--name,
    p,
    .looper--item_more {
      position: relative;
      z-index: 2;

      visibility: visible;
    }
  }
}
.pagination {
  padding-top: 40px;
  padding-bottom: 40px;

  text-align: center;

  @extend .clearfix;
  span,
  a {
    display: inline-block;

    font-family: $cormo-font-family;
    font-size: 26px;
    font-weight: 700;
    &.prev  {
      float: left;
    }
    &.next {
      float: right;
    }
  }
  a {
    color: $orange;
  }
}
.single-consult--header {
  height: 100vh;
  padding-top: 16vh;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .single-consult--breadcrumbs {
    margin-bottom: 86px;
    padding: 0;
  }
  .breadcrumbs {
    margin-bottom: 0;
    padding: 0;

    text-align-last: left;
  }
  .inner-title {
    margin-bottom: 30px;

    text-transform: uppercase;

    color: $gray-dark;

    font-family: $cormo-font-family;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
  }
  p {
    margin-bottom: 90px;

    color: $black;

    font-size: 16px;
    line-height: 26px;
  }

  .single-consult--buttons {
    a {
      display: inline-block;
    }
  }

  .single-consult--order {
    margin-right: 25px;
    padding: 26px 35px;

    transition: $base-transition;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #ffffff;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #ff6b6b 0%, #fca451 100%);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.17);

    font-size: 14px;
    font-weight: 700;
    &:hover{
      background-image: linear-gradient(270deg, #ff6b6b 100%, #fca451 0%);
      color: $orange;
    }
  }
  .single-consult--video {
    padding: 0;

    color: #141414;

    font-size: 14px;
    line-height: 26px;
    i {
      margin-right: 10px;

      font-size: 9px;
    }
    &:hover{
      opacity: 0.8;
    }
  }
}
.single-consult--content {
  article {

  }
}
section {
  padding: 0 0 $footer;
}
article {
  margin-bottom: 40px;

  color: $black;

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}
.page-consult {
  .inner-title,
  .breadcrumbs {
    text-align: center;
  }
}

footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $black;
}
footer {
  padding-top: 80px;
  .footer-logo {
    background-image: url(../img/logo-footer.png);
    background-repeat: no-repeat;
    background-position: 30px top;
  }
  .footer--social {
    ul {
      display: flex;
      align-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      margin-bottom: 50px;
    }
    li {
      display: inline-block;
    }
    a {
      display: flex;
      align-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;

      text-align: center;

      color: $orange;

      font-family: $cormo-font-family;
      font-size: 20px;
      font-weight: 700;
      line-height: 32px;
      &:hover {
        opacity: 0.8;
      }
    }
    i {
      margin-bottom: 6px;
    }
  }
  .footer--copyright {
    text-align: center;
    letter-spacing: 0.79px;

    opacity: 0.25;
    color: #ffffff;

    font-size: 11px;
  }
  .footer--contacts {
    a {
      display: block;

      text-align: right;

      color: #fff;

      font-family: $cormo-font-family;
      line-height: 32px;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  .footer--social__phone {
    font-size: 28px;
    font-weight: 700;
  }
  .footer--social__email {
    font-size: 18px;
    font-weight: 600;
  }
}

@import "media";

@import "fonts/font_roboto";
@import "import/base64";
@import "import/print";
